{
  "snapshots": [
    {
      "id": "dc4ac439-57ae-4779-872e-1892b163bb47",
      "parentId": "dc4ac439-57ae-4779-872e-1892b163bb47",
      "name": "Load vendor order records",
      "description": "Ordered on vendor site; load MARC to create bib, holdings, item, and order; keep MARC",
      "dataTypes": [
        "MARC"
      ],
      "tags": {
        "tagList": [
          "acq",
          "daily"
        ]
      },
      "userInfo": {
        "firstName": "DIKU",
        "lastName": "ADMINISTRATOR",
        "userName": "diku_admin"
      },
      "action": "",
      "mapping": "",
      "match": "",
      "mapped": "",
      "type": "JOB_PROFILE",
      "children": [
        {
          "id": "2fb94d27-3d46-4ee8-97f4-c2b5d0cd20c6",
          "parentId": "dc4ac439-57ae-4779-872e-1892b163bb47",
          "name": "Dolor sit",
          "description": "Lorem ipsum dolor sit amet",
          "dataTypes": [],
          "tags": {
            "tagList": [
              "lorem",
              "ipsum",
              "dolor"
            ]
          },
          "userInfo": {
            "firstName": "Jane",
            "lastName": "Doe",
            "userName": "@janedoe"
          },
          "action": "",
          "mapping": "",
          "match": "Order 998",
          "mapped": "",
          "type": "MATCHING_PROFILE",
          "children": [
            {
              "id": "34a0839a-57aa-4a53-af10-431ad23ed0cc",
              "parentId": "2fb94d27-3d46-4ee8-97f4-c2b5d0cd20c6",
              "name": "Dolor sit",
              "description": "Lorem ipsum dolor sit amet",
              "dataTypes": [],
              "tags": {
                "tagList": [
                  "lorem",
                  "ipsum",
                  "dolor"
                ]
              },
              "action": "Create order",
              "mapping": "EDI orders",
              "match": "",
              "mapped": "",
              "type": "ACTION_PROFILE",
              "children": [
                {
                  "id": "143d81ef-ffdf-46ff-8718-281d64d7460a",
                  "parentId": "34a0839a-57aa-4a53-af10-431ad23ed0cc",
                  "name": "Profile for mapping",
                  "description": "Mapping profile",
                  "dataTypes": [],
                  "tags": {
                    "tagList": [
                      "lorem",
                      "ipsum",
                      "dolor"
                    ]
                  },
                  "action": "",
                  "mapping": "",
                  "match": "",
                  "mapped": "Order - 3 fields",
                  "type": "MAPPING_PROFILE",
                  "children": [],
                  "metadata": {
                    "createdDate": "2018-11-04T14:04:10.000",
                    "createdByUserId": "",
                    "createdByUsername": "",
                    "updatedDate": "2018-11-04T14:20:21.000",
                    "updatedByUserId": "",
                    "updatedByUsername": ""
                  }
                }
              ],
              "metadata": {
                "createdDate": "2018-11-03T12:41:22.000",
                "createdByUserId": "",
                "createdByUsername": "",
                "updatedDate": "2018-11-03T12:09:10.000",
                "updatedByUserId": "",
                "updatedByUsername": ""
              }
            }
          ],
          "metadata": {
            "createdDate": "2018-11-02T12:41:37.000",
            "createdByUserId": "",
            "createdByUsername": "",
            "updatedDate": "2018-11-02T12:49:51.000",
            "updatedByUserId": "",
            "updatedByUsername": ""
          }
        }
      ],
      "metadata": {
        "createdDate": "2018-11-01T10:01:15.000",
        "createdByUserId": "",
        "createdByUsername": "",
        "updatedDate": "2018-11-01T11:17:03.000",
        "updatedByUserId": "",
        "updatedByUsername": ""
      }
    }
  ],
  "totalRecords": 1
}
