{
  "matchProfiles": [
   {
     "id": "1kl9m60r-fvb7-45n0-23c0-13n8gbkl7091",
     "name": "Dolor sit",
     "description": "Lorem ipsum dolor sit amet",
     "match": "Order 998",
     "tags": {
       "tagList": [
         "lorem", "ipsum", "dolor"
       ]
     },
     "entityType": "INVENTORY_ITEM",
     "userInfo": {
       "firstName": "Jane",
       "lastName": "Doe",
       "userName": "@janedoe"
     }
   }
  ],
  "totalRecords": 1
}
