{
    "leaderSearchExpression": "(p_05 = 'a' and p_06 = 'b') or (p_07 = '1' and p_08 = '2')",
    "fieldsSearchExpression": "(035.a = '(OCoLC)63611770' and 036.ind1 = '1') or (245.a ^= 'Semantic web' and 005.value ^= '20141107')"
    "suppressFromDiscovery": false,
    "deleted": false,
    "offset": 0,
    "limit": 10
}
