{
  "jobExecutionId": "67dfac11-1caf-4470-9ad1-d533f6360bdd",
  "actionLogs": [
    {
      "entityType": "MARC_BIBLIOGRAPHIC",
      "actionType": "CREATE",
      "totalCompleted": 42,
      "totalFailed": 0
    },
    {
      "entityType": "INSTANCE",
      "actionType": "CREATE",
      "totalCompleted": 42,
      "totalFailed": 0
    }
  ]
}
