{
  "logs": [
    {
      "id": "dc653de8-f0df-48ab-9630-13aacfe8e8f4",
      "hrId": "13414",
      "jobProfileName": "Marc bib jobs profile",
      "fileName": "import_1.csv",
      "runBy": {
         "firstName": "John",
         "lastName": "Doe"
      },
      "completedDate": "2018-10-30T12:40:01.000"
    },
    {
      "id": "ff567j9l-f0df-48ab-9630-13aacfe8e8f4",
      "hrId": "23112",
      "jobProfileName": "Marc bib jobs profile",
      "fileName": "import_2.csv",
      "runBy": {
         "firstName": "DIKU",
         "lastName": "ADMINISTRATOR"
      },
      "completedDate": "2018-10-30T12:41:31.000"
    },
    {
      "id": "ffgny678-f0df-48ab-9630-13aacfe8e8f4",
      "hrId": "33112",
      "jobProfileName": "Marc bib jobs profile",
      "fileName": "import_1.csv",
      "runBy": {
         "firstName": "John",
         "lastName": "Doe"
      },
      "completedDate": "2018-10-30T12:42:09.000"
    }
  ],
  "totalRecords": 3
}
