{
  "jobExecutionId": "dc653de8-f0df-48ab-9630-13aacfe8e8f4",
  "hrId": "10000",
  "jobProfileName": "Marc jobs profile",
  "fileName": "import_1.csv"
  "runBy": {
     "firstName": "DIKU",
     "lastName": "ADMINISTRATOR"
  },
  "completedDate": "2018-10-30T12:40:01.000"
}
